$body-color: #cdcdcd;
$dark-blue: #009d9c;
$nav-color: #058382;
$nav-background: #eef3f3;
$light-blue: #2fc4c3;
$white: #ffffff;

$bear-sm: 0.60;
@mixin p-absolute($top,$left) {
  position: absolute;
  top: $top;
  left: $left;
}

body{
	background-color: $body-color;
}


@media only screen and (min-width: 993px) {

	nav{
		background-color: $nav-background;
		position: relative;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);

		.brand-logo{
			position: absolute;
			top: 3px;
			left: 50px;
		}
		ul{
			position: absolute;
			right: 50px;

			a{
				color: $nav-color;
				font-family: font129646;
				font-size: 14px;
				text-transform: uppercase;
				padding: 0 20px;
			}
			a:hover{
				background-color: #eef3f3;
	    		color: #2fc4c3;
				font-family: font129646;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}

	.bear{ 
		position: absolute;
	    left: -33px;
	    top: -11px;
		width: 100px * $bear-sm;
		height: 100px * $bear-sm;
		z-index:-1; 
	    transform: translateY(1%);
	    transition:transform .7s cubic-bezier(0.4, 0, 0, 1);
		.bear-container{
			position:relative;
			width:100%;
			.bear_head{
				@include p-absolute(7px * $bear-sm,6px * $bear-sm);
				animation: head 4s infinite;
				height: 150px * $bear-sm;
			}

			.bear_body{
				@include p-absolute(63px * $bear-sm,6px * $bear-sm);
				height: 150px * $bear-sm;
			}

			.bear_rfoot{
				transform: rotate(0deg);
				animation: rfoot 4s infinite;
				@include p-absolute(134px * $bear-sm,153px * $bear-sm);
				height: 34px * $bear-sm;
			}

			.bear_lfoot{
				transform: rotate(0deg);
				animation: lfoot 4s infinite;
				@include p-absolute(134px * $bear-sm,93px * $bear-sm);
				height: 34px * $bear-sm;
			}
		}

	}
	.bear.out{
	    transform: translateY(145%);
	}

	.top-content{
		background-image: url(../img/background.png);
		height: 435px;
		position: relative;
		.tag-extend{
			color: $white;
			font-family: font148727;
			font-size: 23px;
			opacity: 0.70;
		}
		.tag1{
			@include p-absolute(30px, 40px);
			@extend .tag-extend;
		}
		.tag2{
			@include p-absolute(90px, 50px);
			@extend .tag-extend;
		}
		.tag3{
			@include p-absolute(315px, 50px);
			@extend .tag-extend;
		}
		.tag4{
			@include p-absolute(365px, 10px);
			@extend .tag-extend;
		}
		.cloud{
			width: 100px;
			height:100px;
			border-radius:50%;
			position:absolute;
			top:50%;
			left:15%;
			transform: translate(-50%,-50%);
			background:#f0f0f0;
			animation:pulses 2.5s infinite; 
			overflow:hidden;

				.cloud-content {
					position:relative;
					width:100%;
					height:100%;  

				}
		}

		p{
			margin: 0px;
		}

		.text_extend{
			color: $white;
		}
		.text_1{
			@extend .text_extend;
			font-family: font126064;
			font-size: 54px;
			padding-top: 110px;
		}
		.text_2{
			@extend .text_extend;
			font-family: font31205;
			font-size: 36px;
			opacity: 0.80;
			padding-top: 25px;
		}
		.text_3{
			@extend .text_extend;
			font-family: font129646;
			font-size: 18px;
			opacity: 0.95;
			padding-top: 10px;
		}
	}

	.main-content{
		position:relative;
		width:85%;
		margin:0 auto 0 auto;
		z-index:2;

		#about-me{
			.title{
				position: relative;

				.about{
					font-size: 36px;
					margin: 0px;
					font-family: font117743;
					color: #818181;
				}
				.about:after {
				    content: "";
				    position: absolute;
				    width: 52px;
				    left: 50%;
				    margin-left: -25px;
				    bottom: -20px;
				    border-bottom: 4px dotted #00acab;
				}
				
			}
			.info{
				padding-top: 50px;
				position: relative;
				
				.row{
					.download button{
						margin-top:50px;
					}
					.pic{
						position: absolute;
						top: 100px;
						left: 120px;
						height: 250px;
						transform: rotate(-5deg);
					}
					
					.about-text{
						font-size: 20px;
						text-align: justify;
						color: #5a5f61;
						font-family: font126064;
						padding: 0 50px 0 0;
					}

				}
				
			}
		}
		

		#skills{
			
			.row.front-end{
				padding: 70px 0px 80px 0px;
				background-color: #497bb8; 
				margin: -15px -40px 0px -40px;

				.skill-1{
					margin-top: 12px;
					font-family: font126064;
					font-size: 32px;
					color: #ffffff;
					font-weight: 600;
				}
				.carousel-1{
					position: relative;
					padding-right: 70px;

					.slide {
					    width: 100%;
					    margin: 0px auto;
					    min-height: 10px;
					}

					.slick-slide {
					 	margin: 0px 20px;
					}

					.slick-slide img {
					  	width: 100%;
					}

					.slick-prev:before,
					.slick-next:before {
					    color: #ffffff;
					}

					.slick-dots li button::before{
						color: #ffffff;
					}
				}
			}

			.row.back-end{
				padding: 70px 0px 80px 0px;
				background-color: #50c590; 
				margin: -15px -40px 0px -40px;

				.skill-2{
					margin-top: 12px;
					font-family: font126064;
					font-size: 32px;
					color: #ffffff;
					font-weight: 600;
				}
				.carousel-2{
					position: relative;
					padding-right: 70px;

					.slide {
					    width: 100%;
					    margin: 0px auto;
					    min-height: 10px;
					}

					.slick-slide {
					 	margin: 0px 20px;
					}

					.slick-slide img {
					  	width: 100%;
					}

					.slick-prev:before,
					.slick-next:before {
					    color: #ffffff;
					}

					.slick-dots li button::before{
						color: #ffffff;
					}
				}
			}

			.row.app-tools{
				padding: 70px 0px 80px 0px;
				background-color: #f4bc33; 
				margin: -15px -40px 0px -40px;

				.skill-3{
					margin-top: 12px;
					font-family: font126064;
					font-size: 32px;
					color: #ffffff;
					font-weight: 600;
				}
				.carousel-3{
					position: relative;
					padding-right: 70px;

					.slide {
					    width: 100%;
					    margin: 0px auto;
					    min-height: 10px;
					}

					.slick-slide {
					 	margin: 0px 20px;
					}

					.slick-slide img {
					  	width: 100%;
					}

					.slick-prev:before,
					.slick-next:before {
					    color: #ffffff;
					}

					.slick-dots li button::before{
						color: #ffffff;
					}
				}
			}

		}

		#works{
			.title{
				position: relative;
				margin: 30px 0 30px 0;

				.works{
					font-size: 36px;
					
					font-family: font117743;
					color: #818181;
				}
				.works:after {
				    content: "";
				    position: absolute;
				    width: 52px;
				    left: 50%;
				    margin-left: -25px;
				    bottom: -20px;
				    border-bottom: 4px dotted #ee6e73;
				}
				
			}
			.row{
				margin-top: 60px;

				.tabs .tab>a{
					text-decoration: none;
				    color: #fff;
				    background-color: #ee6e73;
				    text-align: center;
				    letter-spacing: .5px;
				    transition: .2s ease-out;
				    cursor: pointer;
				    margin:0px auto;
				    width: 85%;
				    border-radius: 2px;
				    height: 41px;
	    			margin-top: -5px;
				}
				.tabs .indicator{
					background-color: transparent;
				}
				#church{

					.church{
						margin: 40px 0;
						text-align: center;
						ul{
							list-style: none;

							li{
								display: inline-block;
								margin-right: 30px;
								padding: 10px 0px;
								font-family: font124629;
								font-size: 16px;
								.semibold{
									font-weight: 600;
								}
							}
						}
					}
					.church:before, .church:after {
					    content: "";
					    background: url(../img/separator.png);
					    width: 980px;
					    height: 1px;
					    display: block;
					    margin-left: 50px;
					}
					p.description {
						font-family: font124629;
					    font-size: 16px;
					    width: 550px;
					    text-align: center;
					    margin: 40px auto;
					}
					.application{
						margin: 50px;
    					text-align: center;

    					h4{
    						font-size: 20px;
						    font-family: font124629;
						    font-weight: 600;
						    line-height: 40px;
    					}

    					ul{
    						list-style: none;

    						li{
    							display: inline-block;
    							padding: 10px;
    							background: #efefef;
    							border-radius: 8px;
    							margin: 0px 5px 0 0;
    						}
    					}
    					.btn{
    						background-color: #ee6e73;
    					}
    					.btn:hover{
    						background-color: rgba(238, 110, 115, 0.85);
    					}
					}
				}


				#dti{

					.dti{
						margin: 40px 0;
						text-align: center;
						ul{
							list-style: none;

							li{
								display: inline-block;
								margin-right: 30px;
								padding: 10px 0px;
								font-family: font124629;
								font-size: 16px;
								.semibold{
									font-weight: 600;
								}
							}
						}
					}
					.dti:before, .dti:after {
					    content: "";
					    background: url(../img/separator.png);
					    width: 980px;
					    height: 1px;
					    display: block;
					    margin-left: 50px;
					}
					p.description {
						font-family: font124629;
					    font-size: 16px;
					    width: 550px;
					    text-align: center;
					    margin: 40px auto;
					}
					.application{
						margin: 50px;
    					text-align: center;

    					h4{
    						font-size: 20px;
						    font-family: font124629;
						    font-weight: 600;
						    line-height: 40px;
    					}

    					ul{
    						list-style: none;

    						li{
    							display: inline-block;
    							padding: 10px;
    							background: #efefef;
    							border-radius: 8px;
    							margin: 0px 5px 0 0;
    						}
    					}
    					.btn{
    						background-color: #ee6e73;
    					}
    					.btn:hover{
    						background-color: rgba(238, 110, 115, 0.85);
    					}
					}
				}


				#tcvb{

					.tcvb{
						margin: 40px 0;
						text-align: center;
						ul{
							list-style: none;

							li{
								display: inline-block;
								margin-right: 30px;
								padding: 10px 0px;
								font-family: font124629;
								font-size: 16px;
								.semibold{
									font-weight: 600;
								}
							}
						}
					}
					.tcvb:before, .tcvb:after {
					    content: "";
					    background: url(../img/separator.png);
					    width: 980px;
					    height: 1px;
					    display: block;
					    margin-left: 50px;
					}
					p.description {
						font-family: font124629;
					    font-size: 16px;
					    width: 550px;
					    text-align: center;
					    margin: 40px auto;
					}
					.application{
						margin: 50px;
    					text-align: center;

    					h4{
    						font-size: 20px;
						    font-family: font124629;
						    font-weight: 600;
						    line-height: 40px;
    					}

    					ul{
    						list-style: none;

    						li{
    							display: inline-block;
    							padding: 10px;
    							background: #efefef;
    							border-radius: 8px;
    							margin: 0px 5px 0 0;
    						}
    					}
    					.btn{
    						background-color: #ee6e73;
    					}
    					.btn:hover{
    						background-color: rgba(238, 110, 115, 0.85);
    					}
					}
				}




			}
			
		}

		hr{
			margin-top: 4rem;
		    margin-bottom: 1rem;
		    border: 0;
		    border-top: 1px solid rgba(0,0,0,.1);
		    box-sizing: content-box;
		    height: 0;
		    overflow: visible;
		}
		
	}

	.main-content:before{
		content:"";
		position:absolute;
		background-color:#fff;
		top:-40px;
		bottom:-50px;
		left:-40px;
		right:-40px;
		z-index:-1;
	}


}
@media only screen and (max-width: 992px){

	nav{
		background-color: $nav-background;
	}
	.material-icons{
		color: $dark-blue;
	}
	.side-nav{
		background-color: $white;
		padding-top: 20px;

		li{
			top: 20px;
			padding: 5px 0;

			a{
				text-align: center;
				color: $nav-color;
				font-family: font129646;
				font-size: 14px;
				text-transform: uppercase;
			}
			a:hover{
				background-color: $white;
	    		color: #2fc4c3;
				font-family: font129646;
				font-size: 14px;
				text-transform: uppercase;
			}
		}
	}
	.top-content{
		background-image: url(../img/background.png);
		height: 435px;
		width: 100%;
		position: relative;

		.tag1, .tag2, .tag3, .tag4, .cloud, p{
			display: none;
		}
		
	}
	.main-content{
		display: none;
	}
	footer{
		.container{
			display:none;
		}
	}


}





.page-footer{
	background-color: $light-blue;
	.container{
		padding-top: 40px;
	}
	.footer-copyright{
		background-color: $dark-blue;
		.container{
			padding-top: 0;
		}
	}
}


@keyframes pulses{
	0% {
	    box-shadow: 0 0 0 0 hsla(0,0%,100%,.2);
	} 
	70% {
	    box-shadow: 0 0 0 25px hsla(0,0%,100%,0);
	} 
	100% {
	    box-shadow: 0 0 0 0 hsla(0,0%,100%,0);
	}

}

@keyframes head{
	20%{
		transform: translate3d(1,1%,100px) rotate(5deg);
	}
	60%{
		transform: translate3d(2%,2%,100px) rotate(12deg);
	}

}

@keyframes rfoot{
	40%{
		transform: translate3d(1,1%,100px) rotate(5deg);
	}
	60%{
		transform: translate3d(2%,2%,100px) rotate(40deg);
	}
}

@keyframes lfoot{
	10%{
		transform: translate3d(-1,-1%,100px) rotate(-5deg);
	}
	40%{
		transform: translate3d(-2%,-2%,100px) rotate(-40deg);
	}
}
